<div id="<%= cart._id %>" class="cart rounded">
  <h2><%= cart.name %></h2>
  <h3>Hours:</h3><span><%= cart.hours %></span>
  <h3>Description:</h3><span><%= cart.description %></span>
  <div class="profile left">
    <a href='http://pdxapi.com/image/food_carts/<%= cart._id %>'>
      <img src='/food_carts/<%= cart._id %>/menuphoto' shouldbe='<%= cart.profile_image %>'>
    </a>
  </div>
</div>
<br clear="all">
